<head>
    <meta charset="utf-8">
    <title>용어사전</title>

   
</head>
  <body>
    
{% include 'header2.html' %}
<div class="container py-3">
<body class="bg-success bg-opacity-10">
            <div class="col col-12 app-content"> 
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between">
                            <h2 class="text-success" style="--bs-text-opacity: 1;">
                                <a><span>용어사전</span></a>
                            </h2> 
                            <div class="sort_area">
                                <ul class="tab_list">
                                    <li class="tab_item"><a href="" onclick="nclk(this, 'tst.kalphabet', '', '', 1);">가나다순</a></li>
                                </ul>
                                </div>
                        </div>
                        <div class="card-body">
                            
                            <div id="container">         
                                <div id="content">     
                                    <ul class="content_list">
                                        <li>  <div class="info_area">
                                                <div class="subject">
                                                    <strong class="title">
                                                        <a>턴어라운드</a>
                                                    </strong>
                                                </div>
                                                <p style="max-height: 44px;">
                                                기업회생. 적자를 계속해서 기록하던 기업이 실적이 크게 개선되고 이와 더불어 주가도 크게 개선된 경우를 말합니다. </p></div>
                                        </li>
                                        <li>  
                                            <div class="info_area">
                                                <div class="subject">
                                                    <strong class="title">
                                                        <a onclick="nclk(this, 'tml.termlist', '', '', 1);">펀더멘탈 [Fundamental]</a>
                                                    </strong>
                                                </div>
                                                <p style="max-height: 44px;">
                                                한 나라의 경제상태를 표현하는데 있어 가장 기초적인 자료가 되는 성장률, 물가상승률, 실업률, 경상수지 등의 주요 거시경제지표를 말합니다. 기업의 펀더멘탈이라고 할 때는 재무제표상의 각 요소들이 기업의 펀더멘탈을 나타냅니다. (매출, 이익율, 부채 등)</p>
                                            </div>
                                        </li>
                                        <li>  
                                            <div class="info_area">
                                                <div class="subject">
                                                    <strong class="title">
                                                        <a onclick="nclk(this, 'tml.termlist', '', '', 1);">시가총액</a>
                                                    </strong>
                                                </div>
                                                <p style="max-height: 44px;">
                                                    기업의 경우 기업이 발행한 총 주식 수 * 1주당 주가를 시가총액이라 합니다. 우리나라 상장사의 모든 시가총액을 더하면 그것이 곧 우리나라 코스피의 시가총액, 코스닥의 시가총액입니다.  </p>
                                            </div>
                                        </li>
                                        <li>  
                                            <div class="info_area">
                                                <div class="subject">
                                                    <strong class="title">
                                                        <a>공시</a>
                                                
                                                    </strong>
                                                </div>
                                                <p style="max-height: 44px;">
                                                    사업내용이나 재무상황, 영업실적 등 기업의 내용을 투자자 등 이해관계자에게 알리는 제도입니다. </p>
                                            </div>
                                        </li>
                                        <li>  <div class="info_area">
                                            <div class="subject">
                                                <strong class="title">
                                                    <a>HTS(홈 트레이딩 시스템)</a>
                                                </strong>
                                            </div>
                                            <p style="max-height: 44px;">
                                                개인 투자자가 PC로 주식 거래를 할 수 있는 프로그램을 말합니다. MTS는 모바일로 거래를 할 수 있게 하는 프로그램을 말합니다.</p></div>
                                    </li>
                                    <li>  <div class="info_area">
                                        <div class="subject">
                                            <strong class="title">
                                                <a>서킷브레이커</a>
                                            </strong>
                                        </div>
                                        <p style="max-height: 44px;">
                                            주식시장의 일시적인 거래 중단 제도를 일컫는데요, 코스피나 코스닥지수가 전일 대비 10% 이상 폭락한 상태가 1분간 지속하는 경우 발동됩니다. 과열된 주식시장을 진정시키기 위한 쿨다운 타임이라 보시면 됩니다.</p></div>
                                </li>
                                <li>  <div class="info_area">
                                    <div class="subject">
                                        <strong class="title">
                                            <a>매매</a>
                                        </strong>
                                    </div>
                                    <p style="max-height: 44px;">
                                        주식을 사고 파는 것을 말합니다.</p></div>
                            </li>
                            <li>  <div class="info_area">
                                <div class="subject">
                                    <strong class="title">
                                        <a>매수</a>
                                    </strong>
                                </div>
                                <p style="max-height: 44px;">
                                    매매 중 주식을 사는 것을 말합니다.</p></div>
                        </li>
                        <li>  <div class="info_area">
                            <div class="subject">
                                <strong class="title">
                                    <a>매도</a>
                                </strong>
                            </div>
                            <p style="max-height: 44px;">
                                가지고 있는 주식을 파는 것을 말합니다.</p></div>
                    </li>
                    <li>  <div class="info_area">
                        <div class="subject">
                            <strong class="title">
                                <a>매매</a>
                            </strong>
                        </div>
                        <p style="max-height: 44px;">
                            ㅇㅇ </p></div>
                </li>
                 </ul>
                                </span></div>
                                                </div>
                                            </div>
                                        </li>  
                                    </ul>
                                </div>
                                <div id="paginate" class="paginate" style="text-bg-light p-3">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                          <li class="page-item disabled">
                                            <a class="page-link">이전</a>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#">다음</a>
                                          </li>
                                        </ul>
                                      </nav>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</div>


